In [ ]:
#Importing library
import pandas as pd

#Load the dataset
file_path='airquality.csv'
air=pd.read_csv(file_path)

#printing the head
print(air.head())

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [ ]:
#Inspecting the ozone variable

ozone_mean=air["Ozone"].mean()
print("mean of ozone",ozone_mean)

ozone_mode=air["Ozone"].mode()
print("mode of ozone",ozone_mode)

ozone_median=air["Ozone"].median()
print("mode of ozone",ozone_median)

ozone_max=air["Ozone"].max()
print("mode of ozone",ozone_max)

ozone_min=air["Ozone"].min()
print("mode of ozone",ozone_min)

mean of ozone 42.12931034482759
mode of ozone 0    23.0
Name: Ozone, dtype: float64
mode of ozone 31.5
mode of ozone 168.0
mode of ozone 1.0

In [ ]:
ozone_std=air["Ozone"].std()
ozone_median=air["Ozone"].median()
solar_std=air["Ozone"].std()
solar_median=air["Ozone"].median()

print("ozone std",ozone_std)
print("ozone std",ozone_median)

ozone std 32.98788451443395
ozone std 31.5

In [ ]:
na_values=air.isnull().sum()
print("Na values in each column:\n",na_values)

air_cleaned=air.dropna(subset=['Ozone'])

na_values=air_cleaned.isnull().sum()
print("na values in each column",na_values)

Na values in each column:
 Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
dtype: int64
na values in each column Unnamed: 0    0
Ozone         0
Solar.R       5
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

In [ ]:
print(air.head())

ozone_mean=air['Solar.R'].mean()
air['Solar.R'].fillna(ozone_mean,inplace=True)

print(air['Solar.R'].isnull().sum())
print(air.head())

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5
0
   Unnamed: 0  Ozone     Solar.R  Wind  Temp  Month  Day
0           1   41.0  190.000000   7.4    67      5    1
1           2   36.0  118.000000   8.0    72      5    2
2           3   12.0  149.000000  12.6    74      5    3
3           4   18.0  313.000000  11.5    62      5    4
4           5    NaN  185.931507  14.3    56      5    5