**Data Manipulation and Transformation**

In [ ]:
import pandas as pd

#Read the csv file
df=pd.read_csv('customer_churn.csv')

#Display the first few rows of the dataframe
print(df.head())

#Display the summary of the data sheet
print(df.info())

#View discriptive status
print(df.describe())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No     NaN           No
1  5575-GNVDE    Male              0      No         No     NaN          Yes
2  3668-QPYBK    Male              0      No         No     NaN          Yes
3  7795-CFOCW    Male              0      No         No     NaN           No
4  9237-HQITU  Female              0      No         No     NaN          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7036 non-null   object
 4   Dependents        7036 non-null   object
 5   tenure            7027 non-null   float64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.1+ MB
None
       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7027.000000     7043.000000
mean        0.162147    32.383948       64.761692
std         0.368612    24.561002       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

**Data Sorting**

In [ ]:
#Sort the data by tenure in descending order
df_sorted=df.sort_values(by='tenure',ascending=False)

#Display the sorted data
print(df_sorted.head())

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
1363  3084-DOWLE  Female              0     Yes         No    72.0
1226  7115-IRDHS  Female              0     Yes         No    72.0
3111  8809-RIHDD    Male              0     Yes        Yes    72.0
3112  8809-XKHMD    Male              0     Yes         No    72.0
3131  8336-TAVKX  Female              1     Yes         No    72.0

     PhoneService MultipleLines InternetService       OnlineSecurity  ...  \
1363          Yes           Yes             DSL                  Yes  ...
1226          Yes           Yes              No  No internet service  ...
3111          Yes           Yes     Fiber optic                   No  ...
3112          Yes           Yes     Fiber optic                  Yes  ...
3131          Yes           Yes             DSL                  Yes  ...

         DeviceProtection          TechSupport          StreamingTV  \
1363                  Yes                  Yes                  Yes
1226  No internet service  No internet service  No internet service
3111                  Yes                   No                  Yes
3112                   No                  Yes                   No
3131                  Yes                  Yes                   No

          StreamingMovies  Contract PaperlessBilling  \
1363                  Yes  Two year               No
1226  No internet service  Two year               No
3111                  Yes  Two year              Yes
3112                  Yes  Two year              Yes
3131                  Yes  Two year               No

                  PaymentMethod MonthlyCharges  TotalCharges Churn
1363  Bank transfer (automatic)          92.00        6474.4    No
1226  Bank transfer (automatic)          24.65       1830.05    No
3111           Electronic check         103.40       7372.65   Yes
3112  Bank transfer (automatic)         100.55        7325.1    No
3131  Bank transfer (automatic)          78.45       5682.25    No

[5 rows x 21 columns]

In [ ]:
#Sort the data by tenure in ascending order
df_sorted=df.sort_values(by='tenure',ascending=True)

#Display the sorted data
print(df_sorted.head())

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
5218  2923-ARZLG    Male              0     Yes        Yes     0.0
1082  4367-NUYAO    Male              0     Yes        Yes     0.0
6670  4075-WKNIU  Female              0     Yes        Yes     0.0
6754  2775-SEFEE    Male              0      No        Yes     0.0
3826  3213-VVOLG    Male              0     Yes        Yes     0.0

     PhoneService MultipleLines InternetService       OnlineSecurity  ...  \
5218          Yes            No              No  No internet service  ...
1082          Yes           Yes              No  No internet service  ...
6670          Yes           Yes             DSL                   No  ...
6754          Yes           Yes             DSL                  Yes  ...
3826          Yes           Yes              No  No internet service  ...

         DeviceProtection          TechSupport          StreamingTV  \
5218  No internet service  No internet service  No internet service
1082  No internet service  No internet service  No internet service
6670                  Yes                  Yes                  Yes
6754                   No                  Yes                   No
3826  No internet service  No internet service  No internet service

          StreamingMovies  Contract PaperlessBilling  \
5218  No internet service  One year              Yes
1082  No internet service  Two year               No
6670                   No  Two year               No
6754                   No  Two year              Yes
3826  No internet service  Two year               No

                  PaymentMethod MonthlyCharges  TotalCharges Churn
5218               Mailed check          19.70                  No
1082               Mailed check          25.75                  No
6670               Mailed check          73.35                  No
6754  Bank transfer (automatic)          61.90                  No
3826               Mailed check          25.35                  No

[5 rows x 21 columns]

**Modifying exsisting variables or convert them into new categorical values**

In [ ]:
#Recode 'SeniorCitizen' as 'Yes' or 'No'
df['SeniorCitizen']=df['SeniorCitizen'].map({1:'Yes',0:'No'})

#Display the updated column
print(df[['SeniorCitizen']].head())

  SeniorCitizen
0            No
1            No
2            No
3            No
4            No

**Add new calculated column**

In [ ]:
#Create a new variable 'MonthlyChargePerYear'
df['MonthlyChargesPerYear']=df['MonthlyCharges']* 12

#Display the new column
print(df[['MonthlyCharges','MonthlyChargesPerYear']].head())

   MonthlyCharges  MonthlyChargesPerYear
0           29.85                  358.2
1           56.95                  683.4
2           53.85                  646.2
3           42.30                  507.6
4           70.70                  848.4

In [ ]:
#Create a new variable 'MonthlyChargePerYear'
df['MonthlyChargesPerYear']=df['MonthlyCharges']* df['tenure']

#Display the new column
print(df[['MonthlyCharges','MonthlyChargesPerYear']].head())

   MonthlyCharges  MonthlyChargesPerYear
0           29.85                    NaN
1           56.95                    NaN
2           53.85                    NaN
3           42.30                    NaN
4           70.70                    NaN

In [ ]:
#Select customers with tenure greater than 24 months
df_subset=df[df['tenure']>24]

#Display the subset
print(df_subset.head())

    customerID  gender SeniorCitizen Partner Dependents  tenure PhoneService  \
8   7892-POOKP  Female            No     Yes         No    28.0          Yes
9   6388-TABGU    Male            No      No        Yes    62.0          Yes
12  8091-TTVAX    Male            No     Yes         No    58.0          Yes
23  3638-WEABW  Female            No     Yes        NaN    58.0          Yes
24  6322-HRPFA    Male            No     Yes        NaN    49.0          Yes

   MultipleLines InternetService OnlineSecurity  ... TechSupport StreamingTV  \
8            Yes     Fiber optic             No  ...         Yes         Yes
9             No             DSL            Yes  ...          No          No
12           Yes     Fiber optic             No  ...          No         Yes
23           Yes             DSL             No  ...         Yes          No
24            No             DSL            Yes  ...         Yes          No

   StreamingMovies        Contract PaperlessBilling  \
8              Yes  Month-to-month              Yes
9               No        One year               No
12             Yes        One year               No
23              No        Two year              Yes
24              No  Month-to-month               No

                PaymentMethod MonthlyCharges TotalCharges  Churn  \
8            Electronic check         104.80      3046.05    Yes
9   Bank transfer (automatic)          56.15      3487.95     No
12    Credit card (automatic)         100.35       5681.1     No
23    Credit card (automatic)          59.90       3505.1     No
24    Credit card (automatic)          59.60       2970.3     No

   MonthlyChargesPerYear
8                 2934.4
9                 3481.3
12                5820.3
23                3474.2
24                2920.4

[5 rows x 22 columns]

In [ ]:
#Select customers with 'Chrun' equals 'Yes'
df_churned=df[df['Churn']=='Yes']

#Display the subset
print(df_churned.head())

    customerID  gender SeniorCitizen Partner Dependents  tenure PhoneService  \
2   3668-QPYBK    Male            No      No         No     NaN          Yes
4   9237-HQITU  Female            No      No         No     NaN          Yes
5   9305-CDSKC  Female            No      No         No     NaN          Yes
8   7892-POOKP  Female            No     Yes         No    28.0          Yes
13  0280-XJGEX    Male            No     NaN         No     NaN          Yes

   MultipleLines InternetService OnlineSecurity  ... TechSupport StreamingTV  \
2             No             DSL            Yes  ...          No          No
4             No     Fiber optic             No  ...          No          No
5            Yes     Fiber optic             No  ...          No         Yes
8            Yes     Fiber optic             No  ...         Yes         Yes
13           Yes     Fiber optic             No  ...          No         Yes

   StreamingMovies        Contract PaperlessBilling  \
2               No  Month-to-month              Yes
4               No  Month-to-month              Yes
5              Yes  Month-to-month              Yes
8              Yes  Month-to-month              Yes
13             Yes  Month-to-month              Yes

                PaymentMethod MonthlyCharges TotalCharges  Churn  \
2                Mailed check          53.85       108.15    Yes
4            Electronic check          70.70       151.65    Yes
5            Electronic check          99.65        820.5    Yes
8            Electronic check         104.80      3046.05    Yes
13  Bank transfer (automatic)         103.70       5036.3    Yes

   MonthlyChargesPerYear
2                    NaN
4                    NaN
5                    NaN
8                 2934.4
13                   NaN

[5 rows x 22 columns]

**Aggregate data to sumarise information**

In [ ]:
#Aggregate data by 'Contract' type and calculate average 'MonthlyCharges'
df_agg=df.groupby('Contract').agg({'MonthlyCharges':'mean'})

#Display the aggregated data
print(df_agg)

                MonthlyCharges
Contract
Month-to-month       66.398490
One year             65.048608
Two year             60.770413

In [ ]:
#Total numer of churned customer by internet service
df_agg_internet_service=df[df['Churn']=='Yes'].groupby('InternetService').size()

#display the aggregates data
print(df_agg_internet_service)

InternetService
DSL             459
Fiber optic    1297
No              113
dtype: int64

**Working with arithmetic operators**

In [ ]:
#Add 5 to the fifth record of 'MonthlyCharges' column
df.at[4,'MonthlyCharges']+=5

#Display the updated values
print(df.loc[4,'MonthlyCharges'])

75.7

In [ ]:
#Subtracting 9.65 from the sixth record of monthly charges column
df.at[5,'MonthlyCharges']-9.65

#Display the updated values
print(df.loc[4,'MonthlyCharges'])

75.7

In [ ]:
#Multiply the 1st record of the monthlycharges column with 3
df.at[0,'MonthlyCharges']*3

#Display the updated values
print(df.loc[4,'MonthlyCharges'])

75.7

In [ ]:
#Divide the 37 th record of the monthlycharges column by 3
df.at[36,'MonthlyCharges']/3

#Display the updated values
print(df.loc[4,'MonthlyCharges'])

75.7

**Working with Relation operators**

In [ ]:
#Check if the value of tenure in 1t row is greater than in 10th row
tenure_greater=df.at[0,'tenure']>df.at[9,'tenure']

#Display the result
print(tenure_greater)

False

In [ ]:
#Check if the value of tenure in  row is greater than in  row
tenure_greater=df.at[0,'tenure']>df.at[9,'tenure']

#Display the result
print(tenure_greater)

In [ ]:
#count of customer subsribed to both techsupport and streaming tv
both_services_count=df[(df['TechSupport']=='Yes') & (df['StreamingTV']=='Yes')].shape[0]

#Display the count
print(both_services_count)

1218

In [ ]:
#those customer whose internet serive is either DSL or Fibre optic store in 'Internet_dsl_fibre

Internet_dsl_fibre=df[(df['InternetService']=='DSL') | (df['InternetService']=='Fiber optic')].shape[0]

print(Internet_dsl_fibre)

5517

need to map here!!!!!!!!!!!!!!

In [ ]:
#Extract all the male senior citizen whose payment method is Electronic store result in 'senior_male_electronic'
senior_male_electronic=df[((df['gender']=='Male') & (df['SeniorCitizen']== 1) & (df['PaymentMethod']== 'Electronic check'))].shape[0]

print(senior_male_electronic)

0

**Checking for missing values**

In [ ]:
missing_values_count=df.isnull().sum().sum()
print(missing_values_count)

46

In [ ]:
dsl_tenure_above_45=df[(df['InternetService']=='DSL') & (df['tenure']>45)]
print(dsl_tenure_above_45.head())

    customerID  gender SeniorCitizen Partner Dependents  tenure PhoneService  \
9   6388-TABGU    Male            No      No        Yes    62.0          Yes
23  3638-WEABW  Female            No     Yes        NaN    58.0          Yes
24  6322-HRPFA    Male            No     Yes        NaN    49.0          Yes
28  5248-YGIJN    Male            No     Yes         No    72.0          Yes
41  9489-DEDVP  Female            No     Yes        Yes    70.0          Yes

   MultipleLines InternetService OnlineSecurity  ... TechSupport StreamingTV  \
9             No             DSL            Yes  ...          No          No
23           Yes             DSL             No  ...         Yes          No
24            No             DSL            Yes  ...         Yes          No
28           Yes             DSL            Yes  ...         Yes         Yes
41           Yes             DSL            Yes  ...          No         Yes

   StreamingMovies        Contract PaperlessBilling  \
9               No        One year               No
23              No        Two year              Yes
24              No  Month-to-month               No
28             Yes        Two year              Yes
41              No        Two year              Yes

                PaymentMethod MonthlyCharges TotalCharges  Churn  \
9   Bank transfer (automatic)          56.15      3487.95     No
23    Credit card (automatic)          59.90       3505.1     No
24    Credit card (automatic)          59.60       2970.3     No
28    Credit card (automatic)          90.25      6369.45     No
41    Credit card (automatic)          69.20      4872.35     No

   MonthlyChargesPerYear
9                 3481.3
23                3474.2
24                2920.4
28                6498.0
41                4844.0

[5 rows x 22 columns]

**Get Max Tenure**

In [ ]:
max_tenure=df['tenure'].max()
print(max_tenure)

72.0