**Creating an Empty Text file**

In [ ]:
f=open("sample text file.txt","w+")
f.write("My Name is Nabh")
f.close()

**Writing single and multiple lines in a text file**

In [ ]:
f=open("sample text file 2.txt","w+")
for i in range(10):
  f.write("This is line %d\r\n"% (i+1))
f.close()

**Reading Text File**

In [ ]:
f=open("sample text file.txt","r")
if f.mode=='r':
  contents=f.read()
  #print(contents)
f.close()
print(contents)
print("hello world")

My Name is Nabh
hello world

**Exception Handling**

In [ ]:
try:
  f=open("sample text file.txt","r")
  #f.write("My name is Nabh")
  f.close()
except Exception as e:
  print(e)
else:
  print("File created successfully")
print("Hello World")

File created successfully
Hello World

**Reading Excel File using Pandas Package**

In [ ]:
#Import Pandas Library
import pandas as pd

#Assign spreadsheet filename to 'file'
file="nabh Jain.xlsx"

#Load the sreadsheet
x1=pd.ExcelFile(file)

#Print the sheet names
print(x1.sheet_names)

#load a sheet into a dataframe by name 'df1'
df1=x1.parse('Sheet1')

#print the values of dataframe 'df1'
print(df1)

['Sheet1']
   S.No   COMPANY MODEL
0     1      audi    q7
1     2       bmw    x7
2     3  mercedes   gls

**Writing Excel File using Pandas Package**

In [ ]:
import pandas as pd
import openpyxl
df=pd.DataFrame([[11,21,31],[12,22,32],[31,32,33]])
print(df)
#Writing contents to dataframe df to the excelsheet
df.to_excel('pandas to excel.xlsx',index=False,header=False)

    0   1   2
0  11  21  31
1  12  22  32
2  31  32  33

**Reading a CSV File**

In [ ]:
#Import Pandas Library
import pandas as pd
df=pd.read_csv('nabh Jain.csv')
print(df)

   S.no      company    model
0     1  lamborghini     urus
1     2     mercedes  gls 600
2     3          bmw       x7

**Writing a csv**

In [ ]:
import pandas as pd
import openpyxl
df=pd.DataFrame([[11,21,31],[12,22,32],[31,32,33]])
print(df)
df.to_csv('myfile.csv')
df.to_csv('myfile.csv',index=False,header=False)

    0   1   2
0  11  21  31
1  12  22  32
2  31  32  33

In [ ]:
file_name='nabh'
f=open("file_name.txt","w+")
name='nabh'
f.write("My Name is Nabh")
f.close()
name

'nabh'